<mat-card class="example-card">
    <mat-card-header>
      <mat-card-subtitle>products</mat-card-subtitle>
      <mat-card-title>PRODUCTS</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Porttitor rhoncus dolor purus non enim praesent elementum facilisis. Condimentum id venenatis a condimentum vitae sapien pellentesque habitant. Nulla facilisi nullam vehicula ipsum a. Diam vel quam elementum pulvinar etiam non quam lacus. Eget magna fermentum iaculis eu non diam phasellus vestibulum lorem. Porttitor massa id neque aliquam vestibulum morbi blandit cursus risus. Magna etiam tempor orci eu lobortis elementum nibh. Neque viverra justo nec ultrices. Sagittis eu volutpat odio facilisis. Enim praesent elementum facilisis leo vel fringilla est ullamcorper eget. Eget gravida cum sociis natoque penatibus. Id ornare arcu odio ut sem nulla pharetra diam sit. Ut tortor pretium viverra suspendisse potenti nullam ac tortor.</p>
      <p></p>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>