<h5 class="card-title">{{event?.name}}</h5>
<p class="card-text">{{event?.date}}</p>
<p class="card-text">{{event?.time}}</p>
<img [src]="event?.imageUrl" width="300px" height="200px"/>
<p>
<button class="btn btn-primary" (click)="show()">Show More</button>
</p>
<div *ngIf="showDetails">
<p class="card-text">Ticket Price: {{event?.price}}</p>
<p class="card-text">Address: {{event?.location.address}}, {{event?.location.city}}, {{event?.location.country}}</p>
<h5 class="card-title">Sessions</h5>
<div class="card-text" *ngFor="let sess of event?.sessions, let i=index">
    <h5>Session {{i+1}}</h5>
    <p>Session Name: {{sess.name}}</p>
    <p>Session Duration: {{sess.duration}}</p>
    <p>Level: {{sess.level}}</p>
</div>
</div>

<div id="data">{{event|json}}</div>