<!--<h1>Ayantika Datta</h1>
<div id="container">
<app-penthouse></app-penthouse>
<welcome></welcome>
</div>

<flat-list></flat-list>
<html>
    <head></head>
<body>
    <div class="animal">
<animal-list></animal-list>
</div>-->
<html>
    <head></head>
<body>
   <!--<welcome></welcome>
<div class="cont">
    <div id="div1">
<product-list (productClicked)="onProductClicked($event)"></product-list>
</div>
<div id="div2">
<app-cart [prot]='addCart'></app-cart>
</div>

</div>
<app-navbar></app-navbar>
<app-event-list></app-event-list>

<div class="cont">
    <div id="div1">
<product-list (productClicked)="onProductClicked($event)"></product-list>
</div>
<div id="div2">
<app-cart [prot]='addCart'></app-cart>
</div>

</div>
<h3 id="msg">{{pageTitle}}</h3>

<welcome></welcome>
<app-trustee></app-trustee>-->
<app-book></app-book>
</body>
</html>