<div class="container">
<div class="card text-center">
    <div class="card-header">
      ADD FLOWER
    </div>
    <div class="card-body">
        <form [formGroup]="addFlower" (ngSubmit)="saveFlower(flower)">
          <div class="example-container">
            <mat-form-field hintLabel="Max 4 characters" appearance="fill" class="full-width-field">
              <mat-label>Enter Flower ID</mat-label>
              <input matInput #id maxlength="4" placeholder="Ex. F001" name="id" formControlName="id" class="id"/>
              <mat-hint align="end">{{id.value.length}}/4</mat-hint>
              <mat-error *ngIf="myError('id', 'required')">Flower ID is required</mat-error>
            </mat-form-field>
      
            </div>
            <div class="example-container">
              <mat-form-field hintLabel="Max 15 characters" appearance="fill" class="full-width-field">
                <mat-label>Enter Flower Name</mat-label>
                <input matInput #name maxlength="15" placeholder="Ex. Rose" name="name" formControlName="name" class="name"/>
                <mat-hint align="end">{{name.value.length}}/15</mat-hint>
                <mat-error *ngIf="myError('name', 'required')">Flower Name is required</mat-error>
                <mat-error *ngIf="myError('name', 'minlength')">Minimum Length of Flower Name is 2</mat-error>
                <mat-error *ngIf="myError('name', 'maxlength')">Maximum Length of Flower Name is 15</mat-error>
              </mat-form-field>
              </div>
              <div class="example-container">
                <mat-form-field hintLabel="Max 20 characters" appearance="fill" class="full-width-field">
                  <mat-label>Enter Place</mat-label>
                  <input matInput #place maxlength="20" placeholder="Ex. Kolkata" name="place" formControlName="place" class="place"/>
                  <mat-hint align="end">{{place.value.length}}/20</mat-hint>
                  <mat-error *ngIf="myError('place', 'required')">Flower Place is required</mat-error>
                  
                </mat-form-field>
                </div>
                <div class="example-container">
                  <mat-form-field appearance="fill" class="full-width-field">
                    <mat-label>Enter Flower Price</mat-label>
                    <input matInput #price placeholder="Ex. 2000" name="price" formControlName="price" class="price"/>
                    <mat-error *ngIf="myError('price', 'required')">Flower Price is required</mat-error>
                    <mat-error *ngIf="myError('price', 'min')">Minimum Price of Flower is 0</mat-error>
                    <mat-error *ngIf="myError('price', 'max')">Maximum Price of Flower is 30000</mat-error>
                  </mat-form-field>
                  </div>
                  <div class="example-container">
                    <mat-form-field hintLabel="Max 60 characters" appearance="fill" class="full-width-field">
                      <mat-label>Enter Flower Image URL</mat-label>
                      <input matInput #image maxlength="60" placeholder="Ex. ./url" name="image" formControlName="image" class="image"/>
                      <mat-hint align="end">{{image.value.length}}/60</mat-hint>
                    </mat-form-field>
                    </div>
                    <div class="example-container">
                      <mat-form-field  appearance="fill" class="full-width-field">
                        <mat-label>Enter Flower Quantity</mat-label>
                        <input matInput #quantity max="60" placeholder="Ex. 10" name="quantity" formControlName="quantity" class="quantity"/>
                        <mat-hint align="end">{{quantity.value.length}}/60</mat-hint>
                        <mat-error *ngIf="myError('quantity', 'required')">Flower Quantity is required</mat-error>
                      </mat-form-field>
                      </div>

          <button id="btn1" [disabled]='!addFlower.valid ||!addFlower.dirty' class="btn btn-success">SAVE</button>
          </form>
    </div>
    
  </div>
  </div>