<div class="card text-center">
    <div class="card-header">
        <button class="btn btn-primary" (click)="calculate()">CHECKOUT</button>
      </div>
    <div class="card-header">
      CART TOTAL: {{total}}
    </div>
    <div class="card-body">
<table class="table" *ngIf="prot.length">
    <thead class="thead-dark">
      <tr>
        <th scope="col">NAME</th>
        <th scope="col">IMAGE</th>
        <th scope="col">QUANTITY</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pr of prot">
        <td *ngIf="pr.quantity">{{pr.name}}</td>
        <td *ngIf="pr.quantity"><img [src]="pr.imageUrl" width="100px" height="80px"/></td>
        <td *ngIf="pr.quantity">{{pr.quantity}}</td>
      </tr>
   
    </tbody>
  </table>
  </div>

