

<html>

    <head></head>
    <body>

        <div class="card">
            <div class="card-header">
              <button class="btn btn-primary btn2">SHOW</button>
              {{pageTitle}}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-default">Filter By Category</span>
                    </div>
                    <input type="text" class="form-control" (keypress)="filterData(filterValue)"  [(ngModel)]="filterValue" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                  </div>
             
            </div>
            <div class="card-body">
                <table class="table table-striped table-hover table-dark">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">NAME</th>
                        <th scope="col">PRICE</th>
                        <th scope="col">IMAGE</th>
                        <th scope="col">CATEGORY</th>
                        <th scope="col">RATING</th>
                        <th scope="col">QUANTITY</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of filteredProducts">
                        
                            <td>{{product.id}}</td>
                            <td (click)="productSelected(product)">{{product.name | uppercase}}</td>
                            <td>{{product.price | currency:'INR'}}</td>
                            <td><img src="{{product.image}}" width="50px" height="50px"/></td>
                            <td>{{product.category}}</td>
                            <td><app-star-icon [rating]='product.rating' (ratingClicked)="onRatingClicked($event)"></app-star-icon></td>
                            <td><input type="number" min=0 value="0" [(ngModel)]="product.qty"/></td>
                            <td><button class="btn btn-primary">ADD</button></td>
                          </tr>
                      
                    </tbody>
                  </table>
                  <button class="btn btn-primary" (click)="newProduct()">Add New Product</button>
            </div>
          </div>

          <router-outlet></router-outlet>
    </body>
</html>
